In [40]:
!pip install PyMySQL
!pip install mysql-connector-python
!pip install sqlalchemy

Requirement already satisfied: PyMySQL in /usr/local/lib/python3.10/dist-packages (1.1.0)
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.3.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.27)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)

In [42]:
import pandas as pd

In [43]:
data_file = "https://raw.githubusercontent.com/jasonwnc/ds2002s24/main/2.%20Python/coll%20bb_SortByConf.json"
df = pd.read_json(data_file)

In [44]:
print("The results for 100 rows are:")
print(df.head(100))

The results for 100 rows are:
                                                teams
0   {'tid': 159, 'cid': 0, 'did': 0, 'region': 'Bo...
1   {'tid': 105, 'cid': 0, 'did': 0, 'region': 'Cl...
2   {'tid': 109, 'cid': 0, 'did': 0, 'region': 'Fl...
3   {'tid': 18, 'cid': 0, 'did': 0, 'region': 'Lou...
4   {'tid': 31, 'cid': 0, 'did': 0, 'region': 'Nor...
..                                                ...
95  {'tid': 300, 'cid': 5, 'did': 11, 'region': 'J...
96  {'tid': 72, 'cid': 6, 'did': 12, 'region': 'Ea...
97  {'tid': 139, 'cid': 6, 'did': 12, 'region': 'S...
98  {'tid': 239, 'cid': 6, 'did': 12, 'region': 'N...
99  {'tid': 266, 'cid': 6, 'did': 12, 'region': 'I...

[100 rows x 1 columns]

In [45]:
teams_df = pd.DataFrame(df['teams'].tolist())
print(teams_df.columns)

Index(['tid', 'cid', 'did', 'region', 'name', 'abbrev', 'pop', 'city', 'state',
       'latitude', 'longitude'],
      dtype='object')

In [46]:
print("The total number of teams is:", teams_df.shape[0])

The total number of teams is: 320

In [47]:
teams_in_Virginia = teams_df[teams_df['state'] == 'VA']['name'].nunique()
print("The number of teams in Virginia is:", teams_in_Virginia)

The number of teams in Virginia is: 13

In [48]:
mascot_occurences = teams_df['name'].value_counts()
duplicate_mascots = mascot_occurences[mascot_occurences > 1]
print("Here is a list of Duplicate Mascots:\n", duplicate_mascots)

Here is a list of Duplicate Mascots:
 Bulldogs         13
Eagles           10
Tigers            9
Panthers          8
Wildcats          8
Huskies           5
Rams              4
Bears             4
Aggies            4
Golden Eagles     4
Spartans          4
Cougars           4
Owls              4
Cardinals         4
Hawks             4
Bobcats           3
Redhawks          3
Hornets           3
Mountaineers      3
Cowboys           3
Vikings           3
Pirates           3
Jaguars           3
Terriers          3
Broncos           3
Trojans           3
Crusaders         2
Catamounts        2
Knights           2
Titans            2
Mustangs          2
Mavericks         2
Highlanders       2
Bulls             2
Lions             2
Lumberjacks       2
Bisons            2
Bruins            2
Roadrunners       2
Gaels             2
Colonials         2
Dukes             2
Raiders           2
Bison             2
49ers             2
Buccaneers        2
Phoenix           2
Gamecocks         2
Rebels            2
Pioneers          2
Falcons           2
Wolverines        2
Name: name, dtype: int64